@import '../../../variables';
.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $white-color;

    &:read-only {
      background-color: #f9f9f9;
    }
  }
  .error-messages {
    color: $red-color;
    margin-top: 5px;

    small {
      display: block;
    }
  }

}
